.grid{
  display: grid;
column-gap: 50px;
flex-direction: row-reverse;
color: azure;
gap: 2px;
}

.item{
  display: grid ;
    position: relative;
    flex: 1 1 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    max-width: 30%; 
    color:black;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: blanchedalmond;
    
}
img{
    height: 120px;
}

.popup-content {
    margin: auto;
    background: #FCE2DB;
    width: 50%;
    padding: 5px;
    border-radius: 10px;
   
  }
  .popup-arrow {
    color:#FCE2DB;
  }
