

.item{
    display:grid;
    position: relative;
    flex: 1 1 20%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    max-width: 30%; 
    color:black;
    margin-top: 100px;
    margin-bottom: 10px;
    background-color: blanchedalmond;
}
img{
    height: 120px;
}
#grid{
    display: grid;
  column-gap: 50px;
}