/* 
.f{
  display: flex;
  background-color:#FCE2DB;
  flex-direction: column;
  width: 30%;
  height:300px;
  font-size: 15px;
  margin-left: 10px;
  align-items:flex-start;
  text-align: center;
  padding: 20px;
  justify-content: space-between;
  margin-top: 100px;
  float: left;
} */
#app{
  /* background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-shopping-mall-supermarket-selection-merchandise-poster-background-material-image_133225.jpg"); */
}